<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.17.0/vuedraggable.min.js"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            #app {
                display: flex;
            }

            .views, .components {
                width: 50%;
                padding: 20px;
                background: #cccccc;
                box-sizing: border-box;
                height: 500px;
                overflow: hidden auto;
                margin: 20px;
            }

            .components-item, .views-item {
                border-bottom: 1px solid #000;
            }

            .components-item {
                display: inline-block;
                vertical-align: middle;
                background: #eee;
                width: 110px;
                height: 40px;
                margin: 10px;
            }

            .views-item {
                height: 80px;
                background: #f1f1f1;
            }

            .highlight {
                border-bottom-color: #f00;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <draggable class="components" v-model="components" :options="componentsOptions" @start="componentsStart" @end="componentsEnd">
                <div v-for="(item,index) in components" :key="item.name"
                     class="components-item"
                     :class="{highlight:item.isHighlight}"
                >
                    {{item.name}}
                </div>
            </draggable>
            <draggable class="views" v-model="views" :options="viewsOptions">
                <div v-for="(item,index) in views" :key="item.name"
                     class="views-item"
                     :class="{highlight:item.isHighlight}"
                >
                    {{item.name}}
                </div>
            </draggable>
        </div>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        componentsOptions: {
                            group: {
                                name: 'relation',
                                pull: 'clone', // 填充到别的容器时填充克隆的节点。
                                put: false, // 不允许被分组中别的容器填充。
                            },
                            clone: true, // 开启克隆。
                            sort: false, // 关闭排序。
                            forceFallback: true, // 是否模拟html5的拖拽(强制降级兼容处理)。设置为true在拖拽时可以使用鼠标滚轮控制容器滚动(此处也要设置为true，否则左侧组件就无法拖拽到右侧容器中了)。
                            // class应该在拖拽之初进行设置，被选中的进行高亮即可。
                            // fallbackClass: 'fallbackClass',
                            // chosenClass: 'chosenClass',
                            // ghostClass: 'ghostClass',
                        },
                        viewsOptions: {
                            group: {
                                name: 'relation',
                            },
                            animation: 300, // 加动画。
                            forceFallback: true, // 是否模拟html5的拖拽(强制降级兼容处理)。设置为true在拖拽时可以使用鼠标滚轮控制容器滚动。
                            // class应该在拖拽之初进行设置，被选中的进行高亮即可。
                            // fallbackClass: 'fallbackClass',
                            // chosenClass: 'chosenClass',
                            // ghostClass: 'ghostClass',
                        },
                        componentsOldHighlightIndex: -1,
                        components: [
                            {
                                name: '1',
                                isHighlight: false,
                            },
                            {
                                name: '2',
                                isHighlight: false,
                            },
                            {
                                name: '3',
                                isHighlight: false,
                            },
                        ],
                        views: [
                            {
                                name: '1s',
                                isHighlight: false,
                            },
                            {
                                name: '2s',
                                isHighlight: false,
                            },
                        ],
                    };
                },
                methods: {
                    componentsStart(e) {
                        console.log('start', e);
                        console.log('start this.views', this.views);
                        // 当前选中的组件进行高亮
                        this.components.forEach((item, index) => {
                            if (item.isHighlight) {
                                this.componentsOldHighlightIndex = index;
                            }
                            item.isHighlight = false;
                        });
                        this.components[e.oldIndex].isHighlight = true;
                    },
                    componentsEnd(e) {
                        console.log('end', e);
                        console.log('end this.views', this.views);
                        if (e.to.classList.contains('views')) { // 填充进去了
                            // 在这里把components中的数据处理成views中想要的数据。
                            var obj = this.views[e.newIndex];
                            this.views.splice(e.newIndex, 0, {
                                name: obj.name + 's',
                            });
                            this.views.splice(e.newIndex + 1, 1);
                            // 填充进去了，则当前组件高亮
                            this.views.forEach(item => {
                                item.isHighlight = false;
                            });
                            this.views[e.newIndex].isHighlight = true;
                        } else {
                            // 没填充进去，还原组件高亮
                            this.components.forEach(item => {
                                item.isHighlight = false;
                            });
                            if (this.componentsOldHighlightIndex !== -1) {
                                this.components[this.componentsOldHighlightIndex].isHighlight = true;
                            }
                        }
                    },
                    viewsStart(e) {
                        console.log('start', e);
                        console.log('start this.views', this.views);
                        // 当前选中的组件进行高亮。待续...
                        this.views.forEach((item, index) => {
                            item.isHighlight = false;
                        });
                        this.views[e.oldIndex].isHighlight = true;
                    },
                },
            });
        </script>
    </body>
</html>
